# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
spring-cloud-stream.iml
/spring-cloud-stream-consumer/spring-cloud-stream-consumer.iml
/spring-cloud-stream-producer/spring-cloud-stream-producer.iml
/spring-cloud-stream-consumer/target/
/spring-cloud-stream-producer/target/
/spring-cloud-stream-consumer/target/classes/application.properties
